<form class="layui-form" action="">

    <div class="layui-form-item">
        <label class="layui-form-label">选择框</label>
        <div class="layui-input-block">
            <select name="c1id" lay-verify="required">
                <option value=""></option>
                {{each res}}
                <option value="{{$value.id}}">{{$value.c1name}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">分类名</label>
        <div class="layui-input-block">
            <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off"
                class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script>
    //Demo
    layui.use(['form', 'jquery', 'layer'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var layer = layui.layer;

        form.render()
        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));

            $.get('admin/class2/addDo', data.field, function (res) {
                if (res == 'success') {
                    layer.msg('新增成功')
                } else {
                    layer.msg('新增失败')
                }
            })

            return false;
        });
    });
</script>