<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
        <tr>
            <th>ID</th>
            <th>一级分类名称</th>
            <th>二级分类名称</th>
            <th>三级分类名称</th>
            <th>产品名称</th>
            <th>封面</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {{each res}}
        <tr>
            <td>{{$value.id}}</td>
            <td>{{$value.c1id}}--{{$value.c1name}}</td>
            <td>{{$value.c2id}}--{{$value.c2name}}</td>
            <td>{{$value.c3id}}--{{$value.c3name}}</td>
            <td>{{$value.title}}</td>
            <% if($value.poster) { %>
            <td>
                <img src="upload/{{$value.poster}}" alt="">
            </td>
            <% } else { %>
            <td>
                <img src="" alt="">
            </td>
            <% } %>
            <td>
                <a href="javascript:;">修改</a>
                |
                <a href="javascript:;" class="delete" id="{{$value.id}}">删除</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script>
    //Demo
    layui.use(['form', 'jquery', 'layer'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var layer = layui.layer;

        $('.delete').click(function () {
            let id = $(this).attr('id')

            if (id) {
                $.get('admin/product/del', {
                    id
                }, function (res) {
                    if (res == 'success') {
                        $('#showBody').load('admin/product/list')

                        layer.msg('删除成功')
                    } else {
                        layer.msg('删除失败')
                    }
                })
            }
        })
    });
</script>